In [84]:
import pdfplumber
import pandas as pd
import tabula

In [75]:
with pdfplumber.open("pdf_three.pdf") as pdf:                #opening the pdf
    first_page = pdf.pages[0]  #getting its pages
    print(first_page.extract_text())

Tax Invoice
Sold By: Tech-Connect Retail Private Limited ,
Invoice Number # FABZDC2002588719
Ship-from Address: Sy. No.130,256,259,268 and 283, Malur Industrial Area,, Hosakote Village Lakkur Hobli Malur Taluk, Kolar,
Karnataka, 563130, Bangalore, Karnataka, India - 563130, IN-KA
GSTIN - 29AAICA4872D1ZK
Order ID: OD116663918208620000 Bill To Ship To
Order Date: 30-09-2019 Vinayak Shukla  Vinayak Shukla
176-B, Pragati Nagar , Rajendra  176-B, Pragati Nagar , Rajendra  *Keep this invoice and
Invoice Date: 06-10-2019
Nagar Indore. Nagar Indore. manufacturer box for
PAN: AAICA4872D Indore 452012 Madhya Pradesh  Indore 452012 Madhya Pradesh  warranty purposes.
Phone: xxxxxxxxxx  Phone: xxxxxxxxxx
CIN: U52100DL2010PTC202600
Total items: 1
Product Title Qty Gross Discount ₹ Taxable IGST ₹ Total ₹
Amount ₹ Value ₹
Backpacks Mi Business Casual 21 L  1 899.00 0.00 761.86 137.14 899.00
FSN: BKPFH7K8EGGUC6ZZ Trolley Laptop Backpack
HSN/SAC: 4202aaaa Warranty: 6 months limited warranty. Warranty
only covers manufacturing defects and doesn't
cover any ewar & tear or customer induced
damage
IGST: 18.000 %
Total 1 899.00 0.00 761.86 137.14 899.00
Grand Total ₹ 899.00
Tech-Connect Retail Private Limited
Signature
Authorized Signatory
Returns Policy: At Flipkart we try to deliver perfectly each and every time. But in the off-chance that you need to return the item, please do so with the original Brand box/price
tag, original packing and invoice without which it will be really difficult for us to act on your request. Please help us in helping you. Terms and conditions apply.
The goods sold as are intended for end user consumption and not for re-sale.
Regd. office: Tech-Connect Retail Private Limited , Unit No. 403, 4th Floor, Baani 1, Next to Hilton Double Tree Hotel, Golf Course Road, Sec 56, Gurgaon, Haryana - 122011
Contact Flipkart: 1800 208 9898 || www.flipkart.com/helpcentre
E. & O.E. page 1 of 1

In [77]:
with pdfplumber.open("pdf_three.pdf") as pdf:
    first_page = pdf.pages[0]
    rows = first_page.extract_words()
x=1
for row in rows:
    #print(row)
    if row['text'] == 'Product':
        x0 = row['x0']
        top = row['top']
        #print(row)
    if row['text'] == 'Total':
        bottom = row['bottom']
        #print(row)
    if row['text'] == 'Total':
        if x==2:
            x1 = row['x1']
        x=x+1
        
coordinates = (x0, top,x1,bottom)
coordinates
page = first_page.crop(bbox=(coordinates))  # (x0, top, x1, bottom)
table = page.extract_table(table_settings={
        "vertical_strategy": "text",
        "horizontal_strategy": "text",
    })

In [78]:
print(table)

[['Product', 'Title', 'Qty', 'Gross Discount ₹', 'Taxable', 'IGST ₹', 'Total'], ['', '', 'A', 'mount ₹', 'Value ₹', '', ''], ['Backpacks', 'Mi Business Ca', 'sual 21 L  1', '899.00 0.00', '761.86', '137.14', '899.0'], ['FSN: BKPFH7K8EGGUC6ZZ', 'Trolley Laptop', 'Backpack', '', '', '', ''], ['HSN/SAC: 4202aaaa', 'Warranty: 6 months li', 'mited warranty. Warranty', '', '', '', ''], ['', 'only covers manufact', "uring defects and doesn't", '', '', '', ''], ['', 'cover any ewar & tear', 'or customer induced', '', '', '', ''], ['', 'damage', '', '', '', '', ''], ['', 'IGST: 18.000 %', '', '', '', '', ''], ['', '', 'Total 1', '899.00 0.00', '761.86', '137.14', '899.0'], ['', '', '', 'Gr', 'and Total', '₹', '899.']]

In [79]:
for row in table[:9]:                                   #displaying data-wise
    print(row)

['Product', 'Title', 'Qty', 'Gross Discount ₹', 'Taxable', 'IGST ₹', 'Total']
['', '', 'A', 'mount ₹', 'Value ₹', '', '']
['Backpacks', 'Mi Business Ca', 'sual 21 L  1', '899.00 0.00', '761.86', '137.14', '899.0']
['FSN: BKPFH7K8EGGUC6ZZ', 'Trolley Laptop', 'Backpack', '', '', '', '']
['HSN/SAC: 4202aaaa', 'Warranty: 6 months li', 'mited warranty. Warranty', '', '', '', '']
['', 'only covers manufact', "uring defects and doesn't", '', '', '', '']
['', 'cover any ewar & tear', 'or customer induced', '', '', '', '']
['', 'damage', '', '', '', '', '']
['', 'IGST: 18.000 %', '', '', '', '', '']

In [80]:
df = pd.DataFrame(table)
df

,0,1,2,3,4,5,6
0,Product,Title,Qty,Gross Discount ₹,Taxable,IGST ₹,Total
1,,,A,mount ₹,Value ₹,,
2,Backpacks,Mi Business Ca,sual 21 L 1,899.00 0.00,761.86,137.14,899.0
3,FSN: BKPFH7K8EGGUC6ZZ,Trolley Laptop,Backpack,,,,
4,HSN/SAC: 4202aaaa,Warranty: 6 months li,mited warranty. Warranty,,,,
5,,only covers manufact,uring defects and doesn't,,,,
6,,cover any ewar & tear,or customer induced,,,,
7,,damage,,,,,
8,,IGST: 18.000 %,,,,,
9,,,Total 1,899.00 0.00,761.86,137.14,899.0
10,,,,Gr,and Total,₹,899.

'pages' argument isn't specified.Will extract only from page 1 by default.

[]